body {
  background-color: #f3f3f3;
  color: #212121;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  display: flex;
  gap: 50px;
  margin: 50px;
}

/* GENERAL STYLING  */
label {
  gap: 5px;
  font-weight: 500;
}

input {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 5px;
  padding-left: 10px;
  border: none;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

/* EDIT PANEL  */

/* PERSONAL DETAILS  */

.edit-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;
}

.personal-info,
.education {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(200, 200, 200);
  height: fit-content;
}

.cv-container {
  background-color: white;
  box-shadow: 0px 0px 20px rgb(200, 200, 200);

  width: 750px;
  height: 1000px;
}

/* EDUCATION LIST  */

.education-list {
  color: inherit;
}