body {
  background-color: #f3f3f3;
  color: #212121;
  display: flex;
  justify-content: center;
}

.app-container {
  display: flex;
  gap: 50px;
  margin: 50px;
}

.edit-panel {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(200, 200, 200);
  height: fit-content;
}

.cv-container {
  background-color: white;
  box-shadow: 0px 0px 20px rgb(200, 200, 200);

  padding: 2rem;
  width: 800px;
  height: 1000px;
}

label {
  display: flex;
  flex-direction: column;
}
