body {
  background-color: #f3f3f3;
  color: #212121;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px;
}

/* GENERAL STYLING  */
label {
  gap: 5px;
  font-weight: 500;
}

input {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 5px;
  padding-left: 10px;
  border: none;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
  outline: 0px solid transparent;
  transition: box-shadow 0.5s ease-in-out, outline 0.1s ease-in-out;
}

input:hover {
  outline: 0px solid transparent;
  box-shadow: 0px 0px 10px rgb(210, 210, 210);
  transition: all 0.1s ease-in-out;
}

input:focus {
  box-shadow: 0px 0px 10px rgb(210, 210, 210);
  outline: 2px solid rgb(210, 210, 210);
  transition: all 0.1s ease-in-out;
}

.edit-panel ul {
  padding: 0;
}

button {
  appearance: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

/* EDIT PANEL  */

/* PERSONAL DETAILS  */

.edit-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(200, 200, 200);
  height: fit-content;
}

.cv-container {
  background-color: white;
  box-shadow: 0px 0px 20px rgb(200, 200, 200);

  width: 750px;
  height: 1000px;
}

/* EDUCATION LIST  */

.education-toggle,
.experience-toggle {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  transition: border-radius 0.4s ease;
}

.education-toggle.open,
.experience-toggle.open {
  border-radius: 10px 10px 0px 0px;
}

.education-toggle h3,
.experience-toggle h3 {
  display: flex;
  gap: 1rem;
}

.education-list ul,
.experience-list ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 6px 0px;
}

.education-list li,
.experience-list li {
  background-color: white;
  padding: 12px 25px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.education-list li .options
.experience-list li .options {
  display: flex;
  gap: 1rem;
}

.add-education-section,
.add-experience-section {
  background-color: white;
  padding: 1rem;
  border-radius: 0px 0px 10px 10px;
}

.add-education-section button,
.add-experience-section button,
li.editing-item .options .save,
li.editing-item .options .delete {
  font-weight: 500;
  margin: auto;
  display: flex;
  gap: 0.6rem;
  border: 4px solid rgb(199, 226, 196);
  border-radius: 10px;
  padding: 5px 10px;
}

/* EDUCATION EDIT ITEM  */

li.editing-item {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
}

.education-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.education-form .dates {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.education-form .dates input {
  width: 100%;
}

li.editing-item .options {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

li.editing-item .options .save {
  border: 4px solid rgb(196, 200, 226);
}

li.editing-item .options .delete {
  border: 4px solid rgb(226, 196, 196);
}

/* TRANSITIONS EFFECTS  */

.education-content,
.experience-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.2s ease-in-out;
  opacity: 0;
}

.education-content.expanded,
.experience-content.expanded {
  max-height: fit-content;
  opacity: 1;
}

.arrow {
  transition: transform 0.4s ease;
}

.arrow.rotated {
  transform: rotate(180deg);
}
