body {
  background-color: #f3f3f3;
  color: #212121;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  display: flex;
  gap: 50px;
  margin: 50px;
}

/* EDIT PANEL  */

.edit-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.personal-info,
.education {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(200, 200, 200);
  height: fit-content;
}

.cv-container {
  background-color: white;
  box-shadow: 0px 0px 20px rgb(200, 200, 200);

  width: 750px;
  height: 1000px;
}

/* HEADER CV  */

.cv-header {
  background-color: rgb(5, 5, 80);
  color: white;
  padding: 2em;
}

.cv-header h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
}

.info-container {
  display: flex;
  justify-content: space-around;
}

label {
  display: flex;
  flex-direction: column;
}

/* BODY CV  */
h2 {
  text-align: center;
  margin: 1rem;
  font-weight: 500;
  background-color: rgb(162, 162, 241);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li {
  display: flex;
  gap: 20px;
}

.education-time-place {
  min-width: 150px;
}